<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
  <input type=hidden name="oid" value="00D20000000C4Gv">
  <input type=hidden name="retURL" value="<%= thanks_landing_page_url %>">
  <input type=hidden name="Campaign_ID" value="701w0000001JRqM ">
  <input type=hidden name="lead_source" value="MNI Euro Insight Summit 2015">

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="First Name" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="Last Name" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="Phone" id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="Email" id="email" maxlength="80" name="email" size="20" type="text" /><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="Company" id="company" maxlength="40" name="company" size="20" type="text" /><br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="City" id="city" maxlength="40" name="city" size="20" type="text" /><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 form-input">
      <input placeholder="Job Title" id="00N20000002flzS" maxlength="55" name="00N20000002flzS" size="20" type="text" /><br>
    </div>
  </div>
  <input class="btn-blue" type="submit" name="submit" value="Submit Query">
</form>
