= render 'header_and_breadcrumbs'
= link_to 'Back', admin_email_alerts_path, class: 'btn btn-default'

h3 Email alert message
= render 'newsletter', posts: EmailAlertsPost.find(@email_alert.email_alerts_post_ids), greeting: prepare_for_html(@email_alert.greeting_message)

h3 Users notified
- emails = User.find_all_to_notify(@email_alert.user_groups)
- if emails.any?
  == emails.map { |email| link_to email, "mailto:#{email}" }.join(',  ')
- else
  p There were no users to notify